<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Agenda | {% endblock %}</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    
        <!-- FontAwesome CSS -->
        <link rel="stylesheet" href="/css/font-awesome.min.css">
    
        <!-- Swiper CSS -->
        <link rel="stylesheet" href="/css/swiper.min.css">
    
        <!-- Styles -->
        <link rel="stylesheet" href="/style.css">
        {% block stylesheets %}{% endblock %}
        
    </head>
    {% block bodytag %}<body>{% endblock %}
        <header class="site-header">
        <div class="header-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-10 col-lg-2 order-lg-1">
                        <div class="site-branding">
                            <div class="site-title">
                                <a href="{{ path('home') }}"><img src="images/logo.png" alt="logo"></a>
                            </div><!-- .site-title -->
                        </div><!-- .site-branding -->
                    </div><!-- .col -->
    
                    <div class="col-2 col-lg-7 order-3 order-lg-2">
                        <nav class="site-navigation">
                            <div class="hamburger-menu d-lg-none">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div><!-- .hamburger-menu -->
    
                            <ul> {# navigation to the different routes #}
                                <li><a href="{{ path('home') }}">Home</a></li>
                                <li><a href="{{ path('home') }}#about-us">About us</a></li>  {# the link is situated on the home page in an anchor tag #}
                                <li><a href="{{ path('events') }}">Events</a></li>
                                <li><a href="{{ path('news') }}">News</a></li>
                                <li><a href="{{ path('contact') }}">Contact</a></li>
                            </ul>
                        </nav><!-- .site-navigation -->
                    </div><!-- .col -->
    
                    <div class="col-lg-3 d-none d-lg-block order-2 order-lg-3">
                        <div class="buy-tickets">
                            <a class="btn gradient-bg" href="{{ path('events') }}">Buy Tickets</a>
                        </div><!-- .buy-tickets -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container-fluid -->
        </div><!-- .header-bar -->
    
        <!-- end of common header -->
        
     
        {% block body %}{% endblock %}
        
        <!--  Newsletter and footer -->
        <div class="newsletter-subscribe">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <header class="entry-header">
                            <h2 class="entry-title">Subscribe to our newsletter to get the latest trends & news</h2>
                            <p>Join our database NOW!</p>
                        </header>
                        <a name="newsletter"></a>
                        <div class="newsletter-form">
                        {# renders the newsletter controller that will render form/registrationform.html.twig #}
                        {{ render(controller(
                        'App\\Controller\\DefaultController::newsletter'
                        )) }}
                        
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <figure class="footer-logo">
                            <a href="#"><img src="images/logo.png" alt="logo"></a>
                        </figure>
        
                        <nav class="footer-navigation">  {# footer navigation to the different routes #}
                            <ul class="flex flex-wrap justify-content-center align-items-center">
                                <li><a href="{{ path('home') }}">Home</a></li>
                                <li><a href="{{ path('home') }}#about-us">About us</a></li> {# the link is situated on the home page in an anchor tag #}
                                <li><a href="{{ path('events') }}">Events</a></li>
                                <li><a href="{{ path('news') }}">News</a></li>
                                <li><a href="{{ path('contact') }}">Contact</a></li>
                            </ul>
                        </nav>
        
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        
                        <div class="footer-social">
                            <ul class="flex flex-wrap justify-content-center align-items-center">
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        
        
        
        <div class="back-to-top flex justify-content-center align-items-center">
            <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1395 1184q0 13-10 23l-50 50q-10 10-23 10t-23-10l-393-393-393 393q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l466 466q10 10 10 23z"/></svg></span>
        </div>
        
        <script type='text/javascript' src='/js/jquery.js'></script>
        <script type='text/javascript' src='/js/masonry.pkgd.min.js'></script>
        <script type='text/javascript' src='/js/jquery.collapsible.min.js'></script>
        <script type='text/javascript' src='/js/swiper.min.js'></script>
        <script type='text/javascript' src='/js/jquery.countdown.min.js'></script>
        <script type='text/javascript' src='/js/circle-progress.min.js'></script>
        <script type='text/javascript' src='/js/jquery.countTo.min.js'></script>
        <script type='text/javascript' src='/js/custom.js'></script>
        <script type='text/javascript'>
/*         jQuery(document).ready(function(){
        	alert("success");
            }) */
            </script>
     
    
    </body>
</html>
